In [1]:
library( MatchIt )

In [2]:
df.t <- read.csv( '../data/5_abtest/grapeproducttreatmentstores.csv' )
df.c <- read.csv( '../data/5_abtest/newproductcontroldata.csv' )

In [3]:
df.t$Store.ID <- factor( df.t$Store.ID )
df.c$Store.ID <- factor( df.c$Store.ID )

In [4]:
df.t$case_control_flg <- 1
df.c$case_control_flg <- 0

In [5]:
df <- rbind( df.t, df.c )

In [6]:
df <- droplevels( df[df$State =='CA',] )

In [7]:
levels( df$State )

[1] "CA"

In [8]:
# df$case_control_flg <- factor( df$case_control_flg )

# df <- transform( df
#        , case_control_flg = factor( case_control_flg
#                                 , levels = c( 0, 1 )
#                                 , labels = c( 'Control', 'Case' )
#                                 )
# )

# Matching

In [9]:
df.m <- matchit( case_control_flg
       ~ Category.Sales
       + Product.Count
       , data = df 
       , ratio = 2
       , method = 'nearest' )

In [10]:
summary( df.m )

Call:
matchit(formula = case_control_flg ~ Category.Sales + Product.Count,
    data = df, method = "nearest", ratio = 2)

Summary of balance for all data:
               Means Treated Means Control SD Control  Mean Diff   eQQ Med
distance              0.0199        0.0107     0.0076     0.0092    0.0025
Category.Sales    12976.1330    18159.3166 41450.3490 -5183.1836 2730.9950
Product.Count         4.2000        4.9890     1.2094    -0.7890    1.0000
                 eQQ Mean    eQQ Max
distance           0.0044      0.017
Category.Sales 76447.2760 731822.720
Product.Count      0.7000      1.000


Summary of balance for matched data:
               Means Treated Means Control SD Control Mean Diff eQQ Med
distance              0.0199        0.0199     0.0201    0.0000       0
Category.Sales    12976.1330    13052.0805 17641.5471  -75.9475       0
Product.Count         4.2000        4.2000     1.7652    0.0000       0
               eQQ Mean eQQ Max
distance          0.000     0.0
Category.Sales   49.413   450.4
Product.Count     0.000     0.0

Percent Balance Improvement:
               Mean Diff. eQQ Med eQQ Mean  eQQ Max
distance          99.9812     100  99.9933  99.9839
Category.Sales    98.5347     100  99.9354  99.9385
Product.Count    100.0000     100 100.0000 100.0000

Sample sizes:
          Control Treated
All           913      10
Matched        20      10
Unmatched     893       0
Discarded       0       0

In [11]:
df.f <- match.data( df.m )[1:ncol( df)]

# Tableone

In [14]:
library( tableone )
library( knitr )

In [15]:
tblo <- CreateTableOne( vars = c( 'Category.Sales', 'Product.Count', 'Size' )
                       , data = df.f
                       , factorVars = c( 'Size' )
                       , strata = 'case_control_flg' )

In [16]:
tblo <- print(tblo, 
                printToggle = FALSE, 
                noSpaces = TRUE )
kable(tblo[,1:3],  
      align = 'c', 
      caption = 'Table 1: Comparison of matched samples'
     , format = 'markdown' )

|                           |          0          |          1          |   p   |
|:--------------------------|:-------------------:|:-------------------:|:-----:|
|n                          |         20          |         10          |       |
|Category.Sales (mean (sd)) | 13052.08 (17641.55) | 12976.13 (18032.12) | 0.991 |
|Product.Count (mean (sd))  |     4.20 (1.77)     |     4.20 (1.81)     | 1.000 |
|Size = Medium (%)          |       1 (5.0)       |       0 (0.0)       | 1.000 |

In [17]:
need.melt <- cbind( df.t, df.m$match.matrix )[,c(1,9,10)]

In [18]:
library( reshape2 )

In [19]:
matched <- melt( need.melt, id.var = 'Store.ID' )[,c(1,3)]

Warning message:
“attributes are not identical across measure variables; they will be dropped”

In [20]:
names( matched ) <- c( 'Store.ID', 'Matched.Store')

In [21]:
matched

   Store.ID Matched.Store
1  332      342
2  944      954
3  1181     1191
4  2696     2706
5  2717     2727
6  3060     3070
7  5019     5029
8  5051     5061
9  5395     5405
10 5834     5844
11 332      3966
12 944      381
13 1181     2675
14 2696     6283
15 2717     5067
16 3060     5356
17 5019     3082
18 5051     1380
19 5395     3060
20 5834     3964