In [3]:
df <- read.csv('../data/5_abtest/customerserviceabtestdata.csv')

In [4]:
str( df )

'data.frame':	1000 obs. of  4 variables:
 $ RecordID     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Phone.Number : Factor w/ 992 levels "(100) 934-2262",..: 894 901 684 919 177 712 568 885 426 664 ...
 $ AutomatedFlag: int  1 0 0 0 1 0 0 0 0 0 ...
 $ CS.Rating    : int  2 5 4 5 4 1 5 1 2 4 ...

In [5]:
head( df )

  RecordID Phone.Number   AutomatedFlag CS.Rating
1 1        (733) 308-5171 1             2
2 2        (737) 479-9819 0             5
3 3        (571) 837-6630 0             4
4 4        (746) 481-2200 0             5
5 5        (224) 126-2105 1             4
6 6        (586) 442-9226 0             1

In [10]:
df.ag <- aggregate( df$CS.Rating, list( df$Phone.Number, df$AutomatedFlag ), mean )

In [12]:
names( df.ag ) <- c( 'Phone.Number', 'Automated.Flag', 'CS.Rating' )

In [13]:
aggregate( df.ag$CS.Rating, list( df.ag$Automated.Flag ), mean )

  Group.1 x
1 0       3.059732
2 1       3.255061

In [15]:
t.test( df.ag$CS.Rating ~ df.ag$Automated.Flag )

	Welch Two Sample t-test

data:  df.ag$CS.Rating by df.ag$Automated.Flag
t = -1.9187, df = 427, p-value = 0.05568
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.395422669  0.004764298
sample estimates:
mean in group 0 mean in group 1
       3.059732        3.255061