### Libraries

### Load data

In [1]:
df <- readxl::read_excel( '../data/raw/cust-wtransactions.xlsx')

In [12]:
head( df )

  customer_id store_number customer_segment_txt first_name_txt last_name_txt
1 10          100          Home Office          PAMELA         WRIGHT
2 100         100          Consumer             MELISSA        RUFF
3 1000        104          Small Business       CONSTANTI      VLASSIS
4 1002        104          Home Office          AMY            LOCKEMER
5 1003        101          Home Office          DANELL         VALDEZ
6 1005        107          Small Business       JESSICA        RINEHART
  address_txt         city_txt state_txt zip_txt visits_no spend_amt_no
1 2316 E 5TH AVE      DENVER   CO        80206   1          206.95
2 2753 S MILWAUKEE ST DENVER   CO        80210   1          228.27
3 16911 E HARVARD AVE AURORA   CO        80013   1          432.44
4 3721 S PITKIN CT    AURORA   CO        80013   4         2101.11
5 2925 W COLLEGE AVE  DENVER   CO        80219   1         1404.09
6 4220 W 35TH AVE     DENVER   CO        80212   2          962.61

In [8]:
names( df ) <- c( 'customer_id'
                , 'store_number'
                , 'customer_segment_txt'
                , 'first_name_txt'
                , 'last_name_txt'
                , 'address_txt'
                , 'city_txt'
                , 'state_txt'
                , 'zip_txt'
                , 'visits_no'
                , 'spend_amt_no' )

### How many customers fall into each customer segment in Denver?

In [41]:
sum <- table( df[df$city_txt == 'DENVER',]$customer_segment_txt )
sum[order(-sum)]

     Corporate    Home Office Small Business       Consumer
           390            294            256            226

### How many stores have more than 300 customers?

In [65]:
tbl <- data.frame( table( df$store_number ) )
sum( as.numeric( tbl[,2] > 300 ) )

[1] 5

### Which city has the most customers?

In [64]:
df.city <- data.frame( table( df$city_txt ) )
df.city[order(-df.city$Freq),]

   Var1          Freq
8  DENVER        1166
2  AURORA         609
1  ARVADA         271
5  BROOMFIELD     161
13 LITTLETON      128
9  ENGLEWOOD       93
19 WESTMINSTER     67
20 WHEAT RIDGE     52
17 PARKER          31
10 GOLDEN          25
7  COMMERCE CITY   14
15 LOUISVILLE      14
18 THORNTON        12
16 MORRISON         7
12 LAFAYETTE        5
4  BRIGHTON         4
3  BOULDER          3
6  CASTLE ROCK      3
14 LONE TREE        3
11 HENDERSON        1